.container_proyecto{
  width: 98%;
}

.carrusel{
  width: 80%;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:30px;
  margin: 0 auto;
  margin-top: 20px;
}
.card{
  height:300px;
  position:relative;
  cursor:pointer;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.card p{
 position:absolute;
 bottom:0%;
 width:100%;
 margin: 0px;
 height:20%;
 background-color: rgb(49,222,121);
 display: grid;
 justify-content:center;
 align-content:center;
 transform:scalex(0);
}
#card{
  animation-name:animar_card;
  animation-duration:1s;
  animation-fill-mode: forwards;
}
@keyframes animar_card {
  to{transform:scale(110%)}
}
.etiqueta{
  animation-name:mostar_etiqueta;
  animation-duration:1s;
  animation-fill-mode: forwards;
}
@keyframes mostar_etiqueta{
 from {
   transform:scaleX(0);
 }
 to{
   transform:scaleX(100%);
 }
}

.container_proyecto h1{
  text-align:center;
}
.container_proyecto h3{
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width:768px){
 .carrusel{
   grid-template-columns: 1fr;
   background-size:100%;
 }
}
